extends layout

block content

    .nav(align='center')
        ul
            li
                a.nav-link(href='/activities') Liste
            li
                a.nav-link(href='/upload') Joindre fichier
            li
                a.nav-link(href='/connect/disconnect') Se deconnecter
  
    h1 Mon compte
