extends layout

block content

   .nav(align='center')
        ul
            li
               a.nav-link(href='/') Accueil
            li
               a.nav-link(href='/users/form') Creer un compte
            li
               a.nav-link(href='/connect') Se connecter
  
   h1 Déconnection réussie !

