extends layout

block content

  .nav(align='center')
        ul
            li
                a.nav-link(href='/connect') Se connecter
            li
                a.nav-link(href='/users/form') S'inscrire

  h1 Accueil

